name: Release package

on:
  release:
    types: [published]

jobs:
  run_build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          registry-url: 'https://npm.pkg.github.com'

      - name: Install dependencies
        run: npm ci

      - name: Install Protoc
        uses: arduino/setup-protoc@v2

      - name: Build Typescript definitions
        run: npm run build --if-present
      - run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git push
          git push --tags

#      - name: Publish to GitHub Packages
#        env:
#          NODE_AUTH_TOKEN: ${{ secrets.GH_TOKEN }}
#        run: npm publish
